<footer class="@@el footer">
  <div class="container footer__container">
    <div class="row footer__inner">
      <div class="row__col--7 footer__col footer__col--media">
        <div class="footer__media">
          <div class="footer__video"></div>
          <div class="intro-logo footer__logo">
            <picture class="intro-logo__letter">
              <img src="images/logo-letter-1.png">
            </picture>
            <picture class="intro-logo__letter">
              <img src="images/logo-letter-2.png">
            </picture>
            <picture class="intro-logo__letter">
              <img src="images/logo-letter-3.png">
            </picture>
            <picture class="intro-logo__letter">
              <img src="images/logo-letter-4.png">
            </picture>
            <picture class="intro-logo__letter">
              <img src="images/logo-letter-5.png">
            </picture>
            <picture class="intro-logo__letter">
              <img src="images/logo-letter-6.png">
            </picture>
          </div>
        </div>
      </div>
      <div class="row__col--5 footer__col footer__col--appeal">
        <div class="appeal-block footer__appeal">
          <h2 class="appeal-block__title">Интересно поработать с нами?</h2>
          <button type="button" class="js-modal-form btn-call btn-call--theme-gray appeal-block__btn" data-modal="popup-form">
            <span class="btn-call__title">Давайте обсудим</span>
          </button>
        </div>
      </div>
      <div class="row__col--2 footer__col footer__col--copyright">
        <p class="footer__copyright">© 2024. Impact Agency. Все права защищены.</p>
      </div>
    </div>
  </div>
</footer>